body {
  min-inline-size: 320px;
  background: linear-gradient(#24132e, #a290a8);
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  gap: 30px;
  margin: 50px;
}

.container {
  background-color: #afa3c5;
  border-radius: 20px;
  grid-column: 2;
  box-shadow: 0px 2px 20px 5px #ffffff8f;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

label {
  display: block;
}
label span {
  display: block;
  font-weight: 800;
  font-size: 12px;
}
.controls {
  border-block-end: 1px solid #000;
  padding: 24px;
  background-color: #fff;
}

.view {
  --cube-rotate-x: 0deg;
  --cube-rotate-y: 0deg;
  display: grid;
  place-items: center;
  background-color: transparent;
  transform-style: preserve-3d;
  min-block-size: 60vh;
  filter: drop-shadow(0 15px 25px rgba(112, 109, 109, 0.3))
    drop-shadow(0 5px 10px rgba(0, 0, 0, 0.15));
  overflow: visible;
}
.hint {
  text-align: center;
  color: #888;
  font-size: 1rem;
  margin-top: 34px;
}
.container_button {
  display: flex;
  gap: 30px;
  align-self: center;
}
.button {
  background-color: #a290a8;
  padding: 20px;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.button:hover {
  background-color: #907a97;
}
@media (width <= 1500px) {
  body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px;
  }
}

@media (width <= 560px) {
  body {
    margin: 10px;
  }
  .container {
    padding: 10px;
  }
  .container_button {
    gap: 10px;
  }
  .button {
    padding: 10px;
  }
}
